@import "~leaflet/dist/leaflet.css";

h1,
p {
  font-family: Lato;
}

.leaflet-container {
  height: 98vh;
  width: 100%;
}

.list {
  position: absolute;
  background: white;
  width: 400px;
  height: 800px;
  z-index: 9999;
  right: 50px;
  top: 50px;
  border-radius: 10px;
}

.list > p {
  margin: 0;
  cursor: pointer;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.active {
  background-color: yellow;
}

.list > input {
  width: 350px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
